@{
    ViewData["Title"] = "";
    Layout = "AdminLayout";
}

<body>
    <div class="ui padded grid">
        <div class="center aligned row">
            <div class="eight wide mobile four wide tablet four wide computer column">
                <img class="ui centered small circular image" />
                <i class="massive time alternate outline icon"></i>
                <p></p>
                <div class="ui large basic label"><a class="active item" asp-action="timing" asp-controller="dashboard">Timing</a></div>
                <p></p>
                <p>Something else</p>
            </div>
            <div class="eight wide mobile four wide tablet four wide computer column">
                <img class="ui centered small circular image" />
                <i class="massive globe icon"></i>
                <p></p>
                <div class="ui large basic label"><a asp-action="index" asp-controller="partners">Partners</a></div>
                <p></p>
                <p>Something else</p>
            </div>
            <div class="eight wide mobile four wide tablet four wide computer column">
                <img class="ui centered small circular image file icon outline" />
                <i class="massive address card outline icon"></i>
                <p></p>
                <div class="ui large basic label"><a class="active item" asp-action="index" asp-controller="applicants">Applicants</a></div>
                <p></p>
                <p>Something else</p>
            </div>

            <div class="eight wide mobile four wide tablet four wide computer column">
                <img class="ui centered small circular image" />
                <i class="massive newspaper outline icon"></i>
                <p></p>
                <div class="ui large basic label"><a class="active item" asp-action="index" asp-controller="news">Comments</a></div>
                <p></p>
                <p>Something else</p>
            </div>
        </div>
    </div>
</body>