@model IRO_UNMO.App.ViewModels.LoginVM
@{
    Layout = "BasicLayout";
    var returnUrl = @Context.Request.Query["returnurl"];
}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!--- Site CSS -->
    <link rel="stylesheet" type="text/css" href="~/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/site.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/grid.css">
    <!--- Component CSS -->
    <link rel="stylesheet" type="text/css" href="~/dist/components/icon.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/table.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/transition.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/popup.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/accordion.css">
    <!--- Component JS -->
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/dist/semantic.min.js"></script>*@

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>*@

    <script src="~/assets/library/jquery.min.js"></script>
    <script src="~/assets/library/iframe-content.js"></script>

    <script type="text/javascript" src="~/dist/components/popup.js"></script>
    <script type="text/javascript" src="~/dist/components/transition.js"></script>
    <script type="text/javascript" src="~/dist/components/accordion.js"></script>
</head>
<body>
    <div class="ui paded grid">
        <p></p>
        <p></p>
        <p></p>
        <div class="ui container center aligned">
            <div class="ui centered card">
                <p></p>
                <div class="meta">
                    <form asp-controller="account" asp-action="login" method="post" asp-route-returnurl="@returnUrl">
                        <div class="ui top attached label">Please enter your unique code</div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input asp-for="@Model.UniqueCode" type="password" />
                                <span asp-validation-for="@Model.UniqueCode"></span>
                            </div>
                        </div>
                        <input type="submit" class="ui teal submit button" value="Log in" style="margin: 10px 10px 10px 10px;" />
                    </form>
                </div>
                <p></p>
                <p></p>
                <p></p>
                <div class="ui bottom attached label">
                    New to us? <a asp-action="type" asp-controller="account">Register</a>
                </div>
            </div>
        </div>
    </div>
</body>