@model IRO_UNMO.App.ViewModels.LoginVM
@{
    Layout = "BasicLayout";
    var returnUrl = @Context.Request.Query["returnurl"];
    string errorMessage = (string)TempData["errorMessage"];
    string successMessage = (string)TempData["successMessage"];
}
<div class="ui dividing huge header">
    <p></p>
    <div class="ui huge breadcrumb">
        <h2 class="ui header">Login page</h2>
    </div>
</div>
@if (errorMessage != null)
{
    <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
            Warning!
        </div>
        <p>
            @errorMessage
        </p>
    </div>
}
@if (successMessage != null)
{
    <div class="ui positive message">
        <i class="close icon"></i>
        <div class="header">
            Done!
        </div>
        <p>
            @successMessage
        </p>
    </div>
}
<div class="ui paded grid">
    <p></p>
    <p></p>
    <p></p>
    <div class="ui container center aligned">
        <div class="ui centered card">
            <p></p>
            <div class="meta">
                <form asp-controller="account" asp-action="login" method="post" asp-route-returnurl="@returnUrl">
                    <div class="ui top attached label">Please enter your unique code</div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input asp-for="@Model.UniqueCode" type="password" />
                            <span asp-validation-for="@Model.UniqueCode"></span>
                        </div>
                    </div>
                    <input type="submit" class="ui teal submit button" value="Log in" style="margin: 10px 10px 10px 10px;" />
                </form>
            </div>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <div class="ui bottom attached label">
                New to us? <a asp-action="type" asp-controller="account">Register</a><p></p>
                Did you forget your unique code? <a asp-action="code" asp-controller="account">Get it back</a>
            </div>
        </div>
    </div>
</div>
<script>
    $('.message .close')
        .on('click', function () {
            $(this).closest('.message').transition('fade');
        });
</script>
