@model IRO_UNMO.App.ViewModels.UsersVM
@{
    Layout = "BasicLayout";
}
<div class="ui dividing huge header">
    <p></p>
    <div class="ui huge breadcrumb">
        <h2 class="ui header">Registration page - applicant type</h2>
    </div>
</div>
<div class="ui container center aligned">
    <div class="ui centered card">
        <p></p>
        <div class="meta">
            <div class="ui top attached label">Please choose applicant type</div>
            <div class="field">
                <a asp-action="incoming" asp-controller="account" class="ui green submit button"><i class="sign in alternate icon"></i>INCOMING</a>
                <a asp-action="outgoing" asp-controller="account" class="ui red submit button"><i class="exchange alternate icon"></i>OUTGOING</a>
            </div>
        </div>
        <p></p>
        <p></p>
    </div>
</div>
