@{
    Layout = "BasicLayout";
}

<h2 class="ui header">Accomodation</h2>
<div class="ui segment">
    The University dormitory is currently under construction. Until it is in full capacity, students are assisted with private accommodation.

    Contacts of real estate agencies, for renting apartments:

    - Real estate agency “SMART nekretnine” http://www.smart-nekretnine.ba/web/

    - Real estate agency “Kartel” http://www.kartel.ba

    Private student dormitory: Student Hotel Mostar http://www.studenthotel.ba

    Also, the useful link for searching for accommodation is http://www.olx.ba/ The link is in Bosnian and when searching one should just click ‘Nekretnine’ (third link on the left)

    Starting price for rooms is 150 BAM, and for apartments and flats up to 400 BAM per month. Students pay approximately 200 to 300 BAM for food per month
</div>