@{
    Layout = "ApplicantLayout";
}
<link rel="stylesheet" type="text/css" href="~/dist/components/flag.css">
<h2 class="ui header">Administrative formalities</h2>
<div class="ui compact segment">
    <p>
        Foreign students, who intend to study in Bosnia and Herzegovina, have to meet demands and conditions foreseen by the regulations on visa issuing. This means that they are obliged to fulfill the requirements foreseen by the provisions of Bosnia and Herzegovina Ministry of safety.
    </p>
    <p>
        A student can get a permit to reside in Bosnia and Herzegovina for three months and if a student intends to reside longer, he is obliged to submit a request for one year-visa 15 days prior to the expiry of the three-month residence permit. Both requests must be submitted to the Field office of Ministry of safety located in Mostar.
    </p>
    <p>
        All the foreign embassies are placed in Sarajevo <a href="https:\\www.mvp.gov.ba">Ministry of Foreign Affairs</a>, while Mostar hosts consulates of the following countries:
    </p>
    <div class="ui cards">
        <div class="ui card">
            <div class="content">
                <div class="header">
                    <p>
                        <i class="serbia flag"></i>
                        Republic of Serbia Consulate General
                    </p>
                </div>
                <div class="meta">
                    <p>Konak 5, 88000 Mostar</p>
                    <p>Phone: +387 (0)36 556 001, 555 910</p>
                    <p>E-mail: gk.mostar@mfa.rs</p>
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="content">
                <div class="header">
                    <p>
                        <i class="turkey flag"></i>
                        Republic of Turkey Consulate General
                    </p>
                </div>
                <div class="meta">
                    <p>
                        Mala Tepa 24 , 88000 Mostar
                    </p>
                    <p>
                        Phone: +387 (0)36 551-209
                    </p>
                    <p>
                        E-mail: consulate.mostar@mfa.gov.tr
                    </p>
                    <p>
                        Web: <a href="http://mostar.bk.mfa.gov.tr">mostar.bk.mfa.gov.tr</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="content">
                <div class="header">
                    <p>
                        <i class="croatia flag"></i>
                        Republic of Croatia Consulate General
                    </p>
                </div>
                <div class="meta">
                    <p>
                        Zagrebačka 8, 88000 Mostar
                    </p>
                    <p>
                        Phone: +387 (0)36 317209
                    </p>
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="content">
                <div class="header">
                    <p>
                        <i class="hungary flag"></i>
                        Republic of Hungary Honorary Consulate
                    </p>
                </div>
                <div class="meta">
                    <p>
                        Vokića i Lorkovića 91, 88000 Mostar
                    </p>
                    <p>
                        Phone: +387 (0)36 320 194
                    </p>
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="content">
                <div class="header">
                    <p>
                        <i class="spain flag"></i>
                        Kingdom of Spain Honorary Consulate
                    </p>
                </div>
                <div class="meta">
                    <p>
                        Kneza Domagoja 12, 88000 Mostar
                    </p>
                    <p>
                        Phone: +387 (0)36 333 518
                    </p>
                    <p>
                        Fax: +387 (0)36 333 519
                    </p>
                    <p>
                        E-mail: consuladoesp.mostar@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
