@{
    Layout = "ApplicantLayout";
}
<h2 class="ui header">Emergency numbers</h2>
<div class="ui segment">
    <div class="ui bulleted list">
        <div class="item">
            Police 122
        </div>
        <div class="item">
            Fire department 123
        </div>
        <div class="item">
            Health emergency 124
        </div>
        <div class="item">
            Road assistance 1282/188
        </div>
        <div class="item">
            Exact time 125
        </div>
    </div>
    <p></p>
    Addresses of some of the city pharmacies:
    <div class="ui bulleted list">
        <div class="item">
            VITA Pharmacy, Ulica Brace Fejica, Phone: +387 (0)36 551 695
        </div>
        <div class="item">
            TILIA Pharmacy, Trg Ivana Krndelja br. 28, Phone: +387 (0)36 552 234
        </div>
        <div class="item">
            EUROPHARM Pharmacy, M. Bataljona bb, Phone: +387 (0)36 580 280
        </div>
    </div>
    <p></p>
    Taxi companies operating in Mostar (price per km = 0.5 EUR / 1 BAM)
    <div class="ui bulleted list">
        <div class="item">
            MOJ TAXI: 1503
        </div>
        <div class="item">
            Hey Taxi: 1502
        </div>
        <div class="item">
            Herz Taxi: 1599
        </div>
        <div class="item">
            Pink Taxi 1598
        </div>
    </div>
</div>