@{
    Layout = "ApplicantLayout";
}

<h2 class="ui header">Emergency numbers</h2>
<div class="ui segment">
    Police 122;

    Fire department 123;

    Health emergency 124;

    Road assistance 1282/188;

    Exact time 125;



    Addresses of some of the city pharmacies:

    VITA Pharmacy, Brace Fejica Street, phone: +387 36 551 695

    TILIA Pharmacy, Ivana Krndelja Square no. 28, phone: +387 36 552 234

    EUROPHARM Pharmacy, M. Bataljona bb, phone: +387 36 580 280



    Taxi companies operating in Mostar:

    MOJ TAXl: 1503;

    Hey Taxi: 1502,

    Herz Taxi: 1599,

    Pink Taxi 1598

    price/km is 0.5 EUR.
</div>