@{
    Layout = "ApplicantLayout";
}


<h2 class="ui header">Insurance</h2>
<div class="ui segment">
    Student’s health insurance for a foreign student can be arranged in one of the following ways:

    through Public Health Institute of Bosnia and Herzegovina, which is paid by scholarship provider unless it is stated differently in the contract, i.e. that a student is to pay insurance on his/her own.
    through insurance companies.
    A foreign student signs an agreement on travel-health insurance and pays for insurance premium after which he/she is issued the insurance policy. The insurance lasts for a year and can be prolonged.



    Addresses of some insurance companies:

    Triglav BH osiguranje D.D. Mostar branch

    Kralja Tvrtka 12,

    8000 Mostar

    phone.: 036 33 47 00, fax: 036 33 47 06

    mostar@triglav.ba



    VGT osiguranje, Mostar branch

    Ulica Adema Buca br.13

    88 104 Mostar

    phone: +387 36 557 620

    Web: Web://www.vgt.ba/



    UNIQA Service Centre in Mostar

    Doktora Ante Starčevića bb

    phone: +387 36 333 795

    Fax: +387 36 333 797



    GRAWE osiguranje Mostar Branch

    Kralja Tvrtka bb

    88 000 Mostar

    Phone: +387 36 333 731

    Fax: + 387 36 333 730
</div>
