@{
    Layout = "BasicLayout";
}

<h2 class="ui header">Activities</h2>
<div class="ui segment">
    <p>Students are organized in the University’s Student Union. Within the Students Union, there are  Local BEST Group Mostar as well as the Debate club.</p>

    <p>Through membership in this organization, students are able to take part in projects, student exchange programs, and other forms of student support.</p>

    <p>Student Union organizes cultural and entertainment program as well as sporting activities.</p>

    <p>Within the University campus, there are many sporting activities offered to students, to try individually, recreationally, or as part of the teaching process at the University level.</p>
</div>
