@{
    Layout = "BasicLayout";
}
<h2 class="ui header">Enrolment</h2>
<div class="ui segment">
    Enrolment in the first year of studies is announced in the period between 21 June and 1 July of the current year. All citizens of Bosnia and Herzegovina can apply, as well as students from abroad, i.e. candidates who finished their high school education outside Bosnia and Herzegovina if recognized as adequate for further education by foreign-degree validation procedure.<p></p> <p>When applying for enrolment in the first year of studies, a candidate is obliged to submit the following documents:</p>
    <p></p>
    <div class="ui bulleted list">
        <div class="item">
            Enrolment form – with indicated department and program applied for
        </div>
        <div class="item">
            Original diploma on completion of four-year high school or verified copy translated by the official court interpreter
        </div>
        <div class="item">
            The decision on verification of the diploma on completion of four-year high school or the certificate that the student has submitted the request for diploma validation
        </div>
        <div class="item">
            Birth certificate
        </div>
        <div class="item">
            Other documents necessary for determining the number of credits in accordance with the enrolment criteria.
        </div>
        <div class="item">
            Certificate on citizenship
        </div>
    </div>
    <p></p>
    To enrol in higher-education institutions – studies, successful candidates are to submit:
    <div class="ui bulleted list">
        <div class="item">
            Enrolment form and two registration forms
        </div>
        <div class="item">
            Matriculation book – "index",
        </div>
        <div class="item">
            Two photos
        </div>
        <div class="item">
            Medical certificate (issued by a competent health institution)
        </div>
        <div class="item">
            Proof that the student has registered with the Ministry of safety
        </div>
        <div class="item">
            Proof of settled tuition fee money
        </div>
        <div class="item">
            Certificate on citizenship
        </div>
    </div>
    Ranking of candidates is based on the total of credits determined in accordance with the following criteria:
    <div class="ui bulleted list">
        <div class="item">
            General criterion (refers to the achieved success in high school and with a maximum of 35 points)
        </div>
        <div class="item">
            Specific criterion (refers to the acknowledgments received during education or competitions in scientific knowledge (technical) discipline or based on peak performance in sports, with a maximum of 10 points)
        </div>
        <div class="item">
            Individual criterion (refers to the average grade from two to four subjects relevant for the study with a maximum of 15 points)
        </div>
        <div class="item">
            Students can enrol to study at Dzemal Bijedic University of Mostar, before the actual verification of their diploma providing that the verification process is over before the lectures start. Students who have finished secondary school according to international IB graduation programme have a right to enrol and to take entrance exam providing that they submit their diploma before they enrol.
        </div>
        <div class="item">
            Those candidates who score less than 50% of credits are not allowed enrolling.
        </div>
    </div>
</div>