@{
    Layout = "BasicLayout";
}

<h2 class="ui header">Insurance</h2>
<div class="ui compact segment">
    Student’s health insurance for a foreign student can be arranged in one of the following ways:
    <div class="ui bulleted list">
        <div class="header">
        </div>
        <div class="item">
            through Public Health Institute of Bosnia and Herzegovina, which is paid by scholarship provider unless it is stated differently in the contract, i.e. that a student is to pay insurance on his/her own.
        </div>
        <div class="item">
            through insurance companies.
        </div>
        <div class="item">
            A foreign student signs an agreement on travel-health insurance and pays for insurance premium after which he/she is issued the insurance policy. The insurance lasts for a year and can be prolonged.
        </div>
    </div>
    Addresses of some insurance companies:
    <p></p>
    <div class="ui cards">

        <div class="ui card">
            <div class="content">
                <div class="header">
                    Triglav BH osiguranje D.D. Mostar branch
                </div>
                <div class="meta">
                    <p>
                        Kralja Tvrtka 12, 88000 Mostar
                    </p>
                    <p>
                        Phone: +387 (0)36 33 47 00
                    </p>
                    <p>
                        Fax: +387 (0)36 33 47 06
                    </p>
                    <p>
                        E-mail: mostar@triglav.ba
                    </p>
                </div>
            </div>
        </div>

        <div class="ui card">
            <div class="content">
                <div class="header">
                    UNIQA Service Centre in Mostar
                </div>
                <div class="meta">
                    <p>
                        Doktora Ante Starčevića bb, 88000 Mostar
                    </p>
                    <p>
                        Phone: +387 (0)36 333 795
                    </p>
                    <p>
                        Fax: +387 (0)36 333 797
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui cards">
        <div class="ui card">
            <div class="content">
                <div class="header">
                    VGT osiguranje, Mostar branch
                </div>
                <div class="meta">
                    <p>
                        Ulica Adema Buca br. 13, 88104 Mostar
                    </p>
                    <p>
                        Phone: +387 (0)36 557 620
                    </p>
                    <p>
                        Web: <a href="https:\\www.vgt.ba">Vgt website</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="ui card">
            <div class="content">
                <div class="header">
                    GRAWE osiguranje Mostar Branch
                </div>
                <div class="meta">
                    <p>
                        Kralja Tvrtka bb, 88 000 Mostar
                    </p>
                    <p>
                        Phone: +387 (0)36 333 731
                    </p>
                    <p>
                        Fax: +387 (0)36 333 730
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



















</div>
