@{
    Layout = "BasicLayout";
}
<h2 class="ui header">Study in Mostar</h2>
<div class="ui compact segment">
    <div class="item">
        <a class="ui large left floated image">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/e1/Mostar_Old_Town_Panorama.jpg">
        </a>
        <div class="content">
            <div class="description">
                <p>An academic year has two semesters (winter and summer) within which three examination periods are planned.</p>
                <p>Winter semester begins in the first week of October and lasts up to mid-January (around 15 January), which is 15 weeks. </p>
                <p>Classes in the summer semester begin in mid-February and end in late June of the same year.</p>
                <p>Between these two semesters, there is a January-February examination period which is organized in two phases:</p>
                <p>1st examination term – begins in mid-January and lasts up to the end of the month, which is around 2 weeks.</p>
                <p>2nd examination term - begins in early February and takes 2 weeks, which means that it lasts up to mid-February.</p>
                <p>
                <p>The summer semester is followed by the two examination periods:</p>

                <p>June-July examination period that begins in early June and goes on up to the mid-July. This is the longest examination period (approximately 7 weeks).</p>

                <p>September examination period begins in the second half of August and goes on up to early October. This period is somewhat shorter when compared to the June-July examination period (around 5 weeks).</p>

                <p>There are two periods foreseen for the vacations. The first one is synchronized with the January-February examination period, and the second one takes place between June-July and September examination periods.</p>
            </div>
        </div>
    </div>
</div>