@{
    Layout = "BasicLayout";
}
<p></p>
<h2 class="ui header">Tuition fees</h2>
<div class="ui compact segment">
    Every year the Steering Committee of Dzemal Bijedic University of Mostar makes the decision on the tuition fee for foreign students.
</div>