@{
    ViewData["Title"] = "";
    Layout = "_Layout5";
}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!--- Site CSS -->
    <link rel="stylesheet" type="text/css" href="~/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/site.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/grid.css">
    <!--- Component CSS -->
    <link rel="stylesheet" type="text/css" href="~/dist/components/icon.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/table.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/transition.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/popup.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/accordion.css">

    <script src="~/assets/library/jquery.min.js"></script>
    <script src="~/assets/library/iframe-content.js"></script>

    <script type="text/javascript" src="~/dist/components/popup.js"></script>
    <script type="text/javascript" src="~/dist/components/transition.js"></script>
    <script type="text/javascript" src="~/dist/components/accordion.js"></script>
</head>
<body>
    <div class="ui padded grid">
        <div class="center aligned row">
            <div class="eight wide mobile four wide tablet four wide computer column">
                <img class="ui centered small circular image" />
                <i class="massive time alternate outline icon"></i>
                <p></p>
                <div class="ui large basic label"><a class="active item" asp-action="index" asp-controller="timing">Timing</a></div>
                <p></p>
                <p>Something else</p>
            </div>
            <div class="eight wide mobile four wide tablet four wide computer column">
                <img class="ui centered small circular image" />
                <i class="massive globe icon"></i>
                <p></p>
                <div class="ui large basic label"><a asp-action="index" asp-controller="partners">Partners</a></div>
                <p></p>
                <p>Something else</p>
            </div>
            <div class="eight wide mobile four wide tablet four wide computer column">
                <img class="ui centered small circular image file icon outline" />
                <i class="massive address card outline icon"></i>
                <p></p>
                <div class="ui large basic label"><a class="active item" asp-action="index" asp-controller="applicants">Applicants</a></div>
                <p></p>
                <p>Something else</p>
            </div>

            <div class="eight wide mobile four wide tablet four wide computer column">
                <img class="ui centered small circular image" />
                <i class="massive exclamation triangle icon"></i>
                <p></p>
                <div class="ui large basic label">Settings</div>
                <p></p>
                <p>Something else</p>
            </div>
        </div>
    </div>
</body>